.container
  .row#main
    .twelve.columns.last.center#log
      h3!= code
      p!= info
      - if (code === 404) {
        p Do you want to register this page? 
          | clic 
          a(href="/#{referer.replace('#','')}/create") Here
      - }