.container
  .row#main
    section.five.columns
      img(src="http://nodester.com/images/nodesterbw_transparent.png",width="230")
    section.six.columns.last#desc
      h3 &#1007; A sandbox of Ideas
      h4.subheader #{sitename} lets you quickly put together your features request for a given services, previously registered with us. You can upvote, downvote, desqualify and more with your ideas and other peoples ideas. Nothing new, right?
  .row#features
    section.five.columns
      h4 Quick Begin
      p Add an idea for: #ideasBox
      form(action="/ideasBox/new/",method="POST",class="nice")
        input(type="hidden",name="user",value="frontpage")
        input(type="hidden",name="room",value="ideasBox")
        textarea(type="text",name="description",class="input-text nice",placeholder='Add your idea')
        input(type="submit",value="send",class="button radius blue")
    section.six.columns.last
     h4 There is no another step   
     p
       strong No mad-science 
         span  &#9883;, 
       | just this
