!!! 5
html
  head
    meta(charset="utf8")
    meta(name="author",content="#{author}")
    title #{sitename}
    script(type="text/javascript",src="/socket.io/socket.io.js")
    // link(href='http://fonts.googleapis.com/css?family=Doppio+One' ,rel='stylesheet' ,type='text/css')
    link(href="/assets/stylesheets/foundation.css",type="text/css",rel="stylesheet")
    link(href="/assets/stylesheets/app.css?val=#{Date.now()}",type="text/css",rel="stylesheet")
    link(href="/assets/stylesheets/facebox.css", type="text/css", rel="stylesheet")
  body
  header.container.top_header
    .row
      .five.columns
        img.logo(src="/assets/images/rocket-md-right.png")
        a(href="/")
          h1 ideasBox  
            small by nodester
      .five.columns.last
        ul.nav-bar.fix
          li
            a(href="/", class="main") Home
          li
            a(href="#", id="create",class="main") Reserver your space
          li
            a(href="/about", class="main") About
  !=body
    footer.container
      .row
        .twelve.columns.center
          p Made by  
            a(href="//twitter.com/_alejandromg") Alejandro Morales
    //script(src="//code.jquery.com/jquery.js",type="text/javascript")
    //script(src="http://documentcloud.github.com/underscore/underscore-min.js",type="text/javascript")
    script(src="/assets/javascripts/jquery.js",type="text/javascript")
    script(src="/assets/javascripts/facebox.js", type="text/javascript")
    script(src="/assets/javascripts/underscore.js",type="text/javascript")
    script(src="/assets/javascripts/ideas.js",type="text/javascript")
      